<div class="container">
  <p class="footer-left">&copy; {{'COPYRIGHT' | translate}} 2017 – 2018 by FBDOX.at GmbH. All rights reserved. Made with <span class="fa fa-heart"></span> and <span class="fa fa-coffee"></span> in Austria. Connect with us: <button ng-click="$ctrl.goTo('https://medium.com/@fbdox.at', '_blank')" class="fa fa-medium footer-links"></button>&nbsp;&nbsp;<button ng-click="$ctrl.goTo('https://twitter.com/fbdox_at', '_blank')" class="fa fa-twitter footer-links"></button>&nbsp;&nbsp;<button ng-click="$ctrl.goTo('https://www.linkedin.com/company/27028189', '_blank')" class="fa fa-linkedin footer-links"></button>&nbsp;&nbsp;<button ng-click="$ctrl.goTo('mailto:office@fbdox.at')" class="fa fa-envelope footer-links"></button></p>
  <ul class="footer-right">
    <li>
      <button class="item" ng-click="$ctrl.openFaq()">{{'FAQ' | translate}}</button>
    </li>
    <li>
      <button class="item" ng-click="$ctrl.openTerms()">{{'TERMS_CONDITIONS' | translate}}</button>
    </li>
    <li>
      <button class="item" ng-click="$ctrl.openPrivacy()">{{'PRIVACY_POLICY' | translate}}</button>
    </li>
    <li>
      <button class="item last" ng-click="$ctrl.openImprint()">{{'IMPRINT' | translate}}</button>
    </li>
  </ul>
</div>
