<div class="header no-button-tab">
  <h2>{{'MANAGE_PAYMENT' | translate}}</h2>
</div>
<div class="alert alert-success" ng-show="$ctrl.paymentUpdateOK">
  {{'PAYMENT_UPDATED_ALERT' | translate}}
</div>
<div class="alert alert-danger" ng-show="$ctrl.paymentUpdateError">
  {{$ctrl.paymentUpdateError}}
</div>


<div stripe-elements should-destroy="false" stripe="$ctrl.stripe" postal-code="$ctrl.registerForm.postcode" on-change="$ctrl.setOutcome(event)" callback="$ctrl.updatePayment()">
  <!-- a Stripe Element will be inserted here. -->
  <div class="strip-elements-wrapper" >
      <a href="https://stripe.com/">
        <img class="img-stripe" ng-src="assets/images/powered_by_stripe@3x.png" />
      </a>
  </div>
  <div id="card-number">
  </div>
  <div class="row-stripe-element">
      <div id="card-expiry" class="half-width left">
      </div>
      <div id="card-cvc" class="half-width right">
      </div>

  </div>
</div>
<p class="text-center btn-update-payment">
  <button class="btn btn-default" role="button" ng-click="$ctrl.prepareBeforeUpdatePayment()">{{'UPDATE' | translate}}</button>
</p>
