<div class="header no-button-tab">
  <h2>{{'MANAGE_PAYMENT' | translate}}</h2>
</div>
<div class="alert alert-success" ng-show="$ctrl.paymentUpdateOK">
  {{'PAYMENT_UPDATED_ALERT' | translate}}
</div>
<div class="alert alert-danger" ng-show="$ctrl.paymentUpdateError">
  {{$ctrl.paymentUpdateError}}
</div>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor maximus ipsum, vel sodales lacus. Quisque est dui, laoreet ut pulvinar et, vestibulum vitae sapien. Suspendisse quis dictum metus. Integer non urna maximus, imperdiet felis id, lobortis ante. Etiam a lacus at lectus volutpat lacinia. In a nulla vitae velit sagittis ultricies. Integer mollis risus ornare nulla convallis rutrum.
</p>
<p class="text-center">
  <button class="btn btn-default" role="button" ng-click="$ctrl.stripeCheckout()">{{'MANAGE_PAYMENT' | translate}}</button>
</p>
