// Colors

$dark-primary-color: #00796b;
$primary-color: #009688;
$light-primary-color: #b2dfdb;
$text-icons-color: #ffffff;
$accent-color: #ffc107;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
$container-color: #f9f9f9; // Site style
$red-color: #fe5050;