  
  .strip-elements-wrapper {
    text-align: center;
  }
  .row-stripe-element {
    display: flex;
    .half-width {
      width: 50%;
      position: relative;
      width: 100%;
      margin: 0 10px;
      &.left {
        margin-right: 5px;
        margin-left: 0;
      }
      &.right {
        margin-left: 5px;
        margin-right: 0;
      }
    }
  }
  img.img-stripe {
    width: 30%;
  }
 .StripeElement {
  margin: 1rem 0 1rem;
  background-color: white;
  padding: 8px 12px;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: box-shadow 150ms ease;
  border-color: darkgray;
}
.StripeElement--focus {
  border-color: #74aee4;
  outline:0;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
// .StripeElement--focus {
//   box-shadow: 0 1px 3px 0 #cfd7df;
// }

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
stripe-element {
  button.btn-primary {
    &:focus {
      outline: 0;
    }
    &.disabled {
      pointer-events: none;
    }
    &.disabled:hover,
    &.disabled:active {
      color: #fff;
      background-color: #009688;
      border-color: #009688;
    }
    &.disabled:focus {
      color: #fff;
      background-color: #00796b;
      border-color: #00796b;
      outline: 0;
    }
  }
}