<div class="site-data-modal">
  <div class="modal-header">
    <h3 class="modal-title">{{'FAQ' | translate}}</h3>
  </div>
  <div class="modal-body long-modal">
    <p>1. Wof&uuml;r steht FBDOX.at? Der Namensteil &quot;FB&quot; steht f&uuml;r Firmenbuch und der Namensteil &quot;DOX&quot;
      f&uuml;r Dokumente.</p>

    <p>2. Was kann ich mit FBDOX.at machen? Mit FBDOX.at kann man f&uuml;r bestimmte Rechtstr&auml;ger Dokumente betreffend
      beim &ouml;sterreichischen Firmenbuch einzureichende Antr&auml;ge in automationsunterst&uuml;tzter Weise erstellen
      lassen.</p>

    <p>3. F&uuml;r welche Arten von Rechtstr&auml;gern kann ich mit FBDOX.at Dokumente erstellen? FBDOX.at erm&ouml;glicht die
      Erstellung von Dokumenten f&uuml;r die folgenden Rechtstr&auml;ger: Gesellschaft mit beschr&auml;nkter Haftung (GmbH),
      Aktiengesellschaft (AG), Offene Gesellschaft (OG), Kommanditgesellschaft (KG), Privatstiftung und Einzelunternehmer.</p>

    <p>4. F&uuml;r welche Arten von Antr&auml;gen kann ich mit FBDOX.at Dokumente erstellen? FBDOX.at erm&ouml;glicht die Erstellung
      von Dokumenten f&uuml;r die verschiedensten Arten von Antr&auml;gen, wie zB Antr&auml;ge auf Ersteintragung und auf
      L&ouml;schung eines Rechtstr&auml;gers, Antr&auml;ge auf Eintragung einer &Auml;nderung betreffend die Gesellschafter,
      die vertretungsbefugten Personen oder die Mitglieder des Aufsichtsrats, Antr&auml;ge auf Eintragung einer Prokura,
      einer Kapitalerh&ouml;hung, einer Sitzverlegung, einer formwechselnden Umwandlung, einer Zweigniederlassung oder einer
      &Auml;nderung des Bilanzstichtags, Antr&auml;ge auf Bestellung eines Pr&uuml;fers oder auch Antr&auml;ge auf Eintragung
      einer Umgr&uuml;ndung wie etwa einer Verschmelzung oder Spaltung.</p>

    <p>5. Welche Arten von Dokumenten kann ich mit FBDOX.at erstellen? FBDOX.at erm&ouml;glicht die Erstellung von verschiedensten
      Dokumenten, wie zB Firmenbucheingaben, Umlaufbeschl&uuml;sse, Gesellschaftsvertr&auml;ge, General- und Hauptversammlungsprotokolle,
      Gr&uuml;ndungsberichte, Sacheinlagevertr&auml;ge, Spaltungspl&auml;ne, Verschmelzungsvertr&auml;ge, Gl&auml;ubigeraufrufe,
      Musterzeichnungserkl&auml;rungen und Vollmachten.</p>

    <p>6. Wie zeichnet sich FBDOX.at aus? FBDOX.at ist schnell, zuverl&auml;ssig und g&uuml;nstig.</p>

    <p>7. Wie schnell ist die Erstellung von Dokumenten mit FBDOX.at? Sehr. Gew&ouml;hnlich dauert es nicht mehr als 5 bis 10
      Minuten, bis alle Dokumente fertig sind.</p>

    <p>8. Wie zuverl&auml;ssig ist die Erstellung von Dokumenten mit FBDOX.at? Sehr. Mehrere ehemals in Wiener Gro&szlig;kanzleien
      t&auml;tige Rechtsanw&auml;lte haben bei der Erstellung der Vorlagen mitgewirkt, und diese sind auch von Rechtspflegern
      kontrolliert worden.</p>

    <p>9. Wie g&uuml;nstig ist die Erstellung von Dokumenten mit FBDOX.at? Sehr. Unser attraktives Geb&uuml;hrenmodell sieht
      eine Grundgeb&uuml;hr und eine Produktgeb&uuml;hr vor. Die Grundgeb&uuml;hr betr&auml;gt EUR 50 pro Monatszeitraum,
      die Produktgeb&uuml;hr betr&auml;gt EUR 10 pro erstelltem Produkt (dh pro Firmenbuchantrag, unabh&auml;ngig davon,
      wie viele Dokumente dazugeh&ouml;ren). Zu diesen Betr&auml;gen kommt jeweils noch die gesetzliche Umsatzsteuer.</p>

    <p>10. Wie l&auml;uft die Erstellung von Dokumenten mit FBDOX.at genau ab? Der gesamte Vorgang gliedert sich in vier Schritte:
      (i) Auswahl des gew&uuml;nschten Firmenbuchantrags (zB Antrag auf Ersteintragung einer GmbH), (ii) Eingabe aller daf&uuml;r
      notwendigen Daten (zB Firma, Sitz, Kapital, Gesellschafter, Gesch&auml;ftsf&uuml;hrer etc), (iii) Pr&uuml;fung der
      eingegebenen Daten auf Richtigkeit und (iv) Download der erstellten Dokumente (zB Firmenbucheingabe, Gesellschaftsvertrag,
      Umlaufbeschluss, Musterzeichnungserkl&auml;rung, Vollmacht etc; eventuell dazu noch englische Hilfs&uuml;bersetzungen
      f&uuml;r all das).</p>

    <p>11. Wie funktioniert der Download der erstellten Dokumente? Die erstellten Dokumente k&ouml;nnen auf der Website entweder
      jeweils einzeln oder alle zusammen (in einer ZIP-Datei gepackt) heruntergeladen werden.</p>

    <p>12. Kann ich die erstellten Dokumente auch noch zu einem sp&auml;teren Zeitpunkt herunterladen? Ja. Die von Ihnen eingegebenen
      Daten werden gespeichert, Sie k&ouml;nnen diese also zu einem sp&auml;teren Zeitpunkt modifizieren, sich die Dokumente noch einmal
      erstellen lassen und dann herunterladen. Klicken Sie dazu auf Ihren Namen rechts oben, um in das Kundenprofil zu kommen. Unter
      &quot;Produkte weiterbearbeiten&quot; finden Sie alle von Ihnen angefangenen Produkte. Aus Gr&uuml;nden des Datenschutzes und
      der Vertraulichkeit werden diese von Ihnen eingegebenen Daten automatisch ein Monat nach erstmaliger Erstellung
      (oder auf Wunsch auch fr&uuml;her) gel&ouml;scht. </p>

    <p>13. Kann ich mir die erstellten Dokumente auch zuschicken lassen, statt sie herunterzuladen? Ja, auf Wunsch k&ouml;nnen
      die auf FBDOX.at erstellten Dokumente auch an die hinterlegte E-Mail Adresse geschickt werden. Dabei ist nat&uuml;rlich
      zu beachten, dass E-Mail kein wirklich sicheres Kommunikationsmedium ist.</p>

    <p>14. Wie viele Seiten an Dokumenten bekomme ich f&uuml;r mein Geld? Das h&auml;ngt ganz von dem gew&auml;hlten Produkt
      ab: Bei einfachen Firmenbuchantr&auml;gen mit einer geringen Anzahl von Beilagen generiert FBDOX.at nur wenige Seiten
      an Dokumenten, w&auml;hrend bei Firmenbuchantr&auml;gen mit einer gro&szlig;en Anzahl von Beilagen (zB Antr&auml;ge
      im Zusammenhang mit Umgr&uuml;ndungen) leicht dutzende Seiten an Dokumenten generiert werden k&ouml;nnen. Wenn auf
      Wunsch auch englische Hilfs&uuml;bersetzungen durch FBDOX.at generiert werden sollen, dann verdoppelt sich nat&uuml;rlich
      gleich die Zahl der Seiten. Aber egal, wie viele Seiten an Dokumenten erstellt werden, es f&auml;llt nur einmal die
      Produktgeb&uuml;hr von EUR 10 pro Firmenbuchantrag an.</p>

    <p>15. In welchem Dateiformat stehen die erstellten Dokumente zur Verf&uuml;gung? Die erstellten Dokumente stehen als Microsoft
      Word (TM) Dateien im DOCX-Format zur Verf&uuml;gung. Das erm&ouml;glicht eine problemlose Weiterverarbeitung auf dem
      Computer des Kunden.</p>

    <p>16. Was sollte man bei der Weiterverarbeitung der Dokumente beachten? Damit die erstellten Dokumente formal m&ouml;glichst
      weitgehend Ihrem Kanzleistil entsprechen, sollten Sie zuerst einmal im Kundenprofil bei &quot;Stammdaten &auml;ndern&quot; Ihre
      Standard-Schriftart (zB &quot;Times New Roman&quot;) und Ihre Standard-Schriftgr&ouml;&szlig;e (zB &quot;12&quot;) einstellen.
      Wenn Sie Ihr eigenes Briefpapier verwenden m&ouml;chten, sollten Sie au&szlig;erdem die erstellten Texte mit &quot;Inhalte
      einf&uuml;gen&quot; (bzw &quot;Paste Special&quot;) in Ihre eigenen Vorlagen einf&uuml;gen.</p>

    <p>17. Ersetzt FBDOX.at den Rechtsanwalt? Nein. Weder erteilt FBDOX.at juristischen Rat noch sind die von FBDOX.at erstellten
      Dokumente als finale Fassungen anzusehen, die ohne weitere juristische Pr&uuml;fung unterschrieben und beim Firmenbuch
      eingereicht werden k&ouml;nnen (auch wenn sie in der Praxis weitestgehend final sind). FBDOX.at ist ja kein Mensch,
      sondern eine Website, die Dokumente in automationsunterst&uuml;tzter Weise erstellt.</p>

    <p>18. Hilft FBDOX.at dem Rechtsanwalt? Ja. FBDOX.at ist prim&auml;r f&uuml;r die Praxis in einer Rechtsanwaltskanzlei gedacht
      und hat dort die folgenden Vorteile: (i) repetitive Arbeiten von Mitarbeitern (wie zB das mehrfache Einsetzen derselben
      Daten in verschiedenste Dokumente) werden vermieden, (ii) Fehler, die sich bei der Bearbeitung von Mustervorlagen einschleichen,
      werden vermieden, (iii) Inkonsistenzen, die durch die Verwendung von unterschiedlichsten Vorlagen der diversen Mitarbeiter
      entstehen, werden vermieden, (iv) die Zufriedenheit von Klienten steigt aufgrund der schnelleren R&uuml;ckmeldung des
      Rechtsanwalts mit den fertigen Dokumenten und (v) eine effizientere und profitablere Mandatsbearbeitung wird m&ouml;glich
      (indem zB die Dokumente f&uuml;r eine Verschmelzung nicht h&auml;ndisch &uuml;ber mehrere Stunden, sondern automationsunterst&uuml;tzt
      in nur wenigen Minuten erstellt werden.</p>

    <p>19. Ist FBDOX.at eine Anwendung aus dem Bereich LegalTech? Absolut. Unter LegalTech versteht man den Einsatz digitaler
      Technik bei juristischen Dienstleistungen.</p>

    <p>20. Was sagt die Fachpresse zu LegalTech? &quot;Auf den anhaltenden Kostendruck innerhalb derRechtsabteilungen haben
      einige Kanzleien bereits reagiert &ndash; ebenfalls mit dem Einsatz von Legal Tech. Denn mithilfe von Software kann
      vor allem standardisierte Arbeit schneller, effizienter und kosteng&uuml;nstiger abgewickelt werden als bisher.&quot;
      (JUVE, 2.11.2016). &quot;Sicher ist auch, dass sich Anw&auml;lte k&uuml;nftig st&auml;rker mit Legal Technology befassen
      m&uuml;ssen.&quot; (Die Presse, 12.11.2016). &quot;The legal profession has been one of the least aggressive adopters
      of technology in the past, and in many ways the field resembles the law as practiced a 100 years ago. But it's on the
      verge of a major transformation involving automation and the use of technology to make intelligent legal decisions.&quot;
      (Wall Street Journal, 25.3.2015).</p>

    <p>21. Ab wann lohnt es sich, FBDOX.at zu verwenden? Aufgrund unseres &auml;u&szlig;erst attraktiven Geb&uuml;hrenmodells
      lohnt sich die Nutzung von FBDOX.at schon ab einer Handvoll Firmenbuchsachen im Jahr.</p>

    <p>22. Wo kann ich einen Benutzer anlegen? Klicken Sie auf Ihren Namen rechts oben, um in das Kundenprofil zu kommen. Unter
      &quot;Benutzer verwalten&quot; k&ouml;nnen Sie Benutzer anlegen, bearbeiten und l&ouml;schen.</p>

    <p>23. Ich habe mich auf der Website registriert, soll ich au&szlig;erdem noch einen oder mehrere Benutzer anlegen? Dies ist
      nicht unbedingt notwendig, aber f&uuml;r gr&ouml;&szlig;ere Soziet&auml;ten meist sinnvoll.</p>

    <p>24. Ich habe mich auf der Website registriert. Was kann ich, was ein von mir angelegter Benutzer nicht kann? W&auml;hrend
      Sie den Account verwalten, die Zahlungsmodalit&auml;ten aktualisieren, Rechnungen einsehen und Benutzer anlegen k&ouml;nnen,
      k&ouml;nnen die von Ihnen angelegten Benutzer nur die Website nutzen, haben aber keinen Zugang zu den genannten Bereichen.</p>

    <p>25. Wie wird bei FBDOX.at bezahlt? Die Bezahlung erfolgt durch Belastung der durch den Kunden bei Registrierung angegebenen
      Kreditkarte oder durch Einzug von dem durch den Kunden bei Registrierung angegebenen Konto.</p>

    <p>26. Bekomme ich bei FBDOX.at eine Rechnung? Selbstverst&auml;ndlich, unter &quot;Rechnungen herunterladen&quot; im Kundenprofil
      k&ouml;nnen Ihre Rechnungen heruntergeladen werden. Das Kundenprofil erreichen Sie &uuml;brigens durch Klick auf Ihren
      Namen rechts oben. </p>

    <p>27. Wie lange ist die K&uuml;ndigungsfrist auf FBDOX.at? Eine K&uuml;ndigung ist jederzeit m&ouml;glich, wobei die K&uuml;ndigung
      zum Ende des aktuellen Monatszeitraums wirksam wird. Sie haben daher ein minimales Risiko, wenn Sie FBDOX.at einfach
      nur ausprobieren m&ouml;chten.</p>

    <p>28. Kann ich auf FBDOX.at von den erstellten Dokumenten englische Hilfs&uuml;bersetzungen f&uuml;r ausl&auml;ndische Klienten bekommen?
      Ja. F&uuml;r die Dokumente k&ouml;nnen auf Wunsch und ohne zus&auml;tzliche Kosten auch englische Hilfs&uuml;bersetzungen
      erstellt werden. Bitte beachten Sie, dass es sich hier um ein experimentelles Feature handelt, Sie m&uuml;ssen die
      Hilfs&uuml;bersetzungen daher genau kontrollieren.</p>

    <p>29. Was mache ich, wenn ich bestimmte Dokumente auf FBDOX.at vermisse? Wir sind st&auml;ndig dabei, FBDOX.at zu aktualisieren,
      und freuen uns auf Anregungen per E-Mail an <a href="mailto:office@fbdox.at">office@fbdox.at.</a></p>

    <p>30. Was mache ich, wenn ich trotz Verwendung von FBDOX.at vom Firmenbuch eine Vorerledigung erhalten habe? Im &auml;u&szlig;erst
      unwahrscheinlichen Fall, dass die Vorerledigung tats&auml;chlich auf einen Fehler in einem durch die Website erstellten
      Dokument zur&uuml;ckzuf&uuml;hren ist, schicken Sie uns dieses bitte anonymisiert per E-Mail an <a href="mailto:office@fbdox.at">office@fbdox.at</a>. Wir
      werden uns bem&uuml;hen, eine f&uuml;r Sie mehr als zufriedenstellende L&ouml;sung zu finden.</p>

    <p>31. Wie schaut es mit Datenschutz und Vertraulichkeit aus? Wir nehmen dieses Thema sehr ernst: (i) wir k&ouml;nnen in die von
      unseren Kunden eingegebenen Daten sowie die daraus erstellten Dokumente keine Einsicht nehmen, (ii) wir geben keine Kundendaten
      an Dritte weiter, (iii) wir versenden keine Spam-E-Mails und (iv) wir verwenden auf der Website nur harmlose Cookies. N&auml;here
      Details finden Sie in unserer Datenschutzerkl&auml;rung.</p>

    <p>32. Wer steckt hinter der Website FBDOX.at? Wir sind eine Gruppe von Juristen, Designern und Programmierern, die von
      der Idee von &quot;LegalTech&quot; begeistert sind und sich zusammengeschlossen haben, um FBDOX.at zu realisieren.
      Nach fast zwei Jahren Entwicklung war es dann so weit. Wie alle anderen Branchen wird sich unserer Meinung nach auch
      die Anwaltsbranche durch den Einsatz von Technologie in den n&auml;chsten Jahrzehnten massiv ver&auml;ndern.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" role="button" ng-click="$ctrl.modal.dismiss()">{{'OK' | translate}}</button>
  </div>

</div>
