<div class="site-data-modal">
  <div class="modal-header">
    <h3 class="modal-title">{{'IMPRINT_TITLE' | translate}}</h3>
  </div>
  <div class="modal-body">
    <p>Firma: FBDOX.at GmbH</p>

    <p>Rechtsform: Gesellschaft mit beschr&auml;nkter Haftung</p>

    <p>Sitz: Wien</p>

    <p>Gesch&auml;ftsanschrift: Bergheidengasse 26 Haus 3/1, 1130 Wien</p>

    <p>Gesch&auml;ftszweig: Erbringung von IT-Dienstleistungen</p>

    <p>Firmenbuchnummer: FN 478326 x</p>

    <p>Firmenbuchgericht: Handelsgericht Wien</p>

    <p>Zust&auml;ndige Aufsichtsbeh&ouml;rde: Magistratisches Bezirksamt, 13., 14. Bezirk in Wien</p>

    <p>Zust&auml;ndige Kammer: Wirtschaftskammer Wien, UBIT</p>

    <p>Anwendbare Rechtsvorschriften: Gewerbeordnung 1994 (abrufbar unter
      <a target="_blank" href="https://www.ris.bka.gv.at">https://www.ris.bka.gv.at</a>)</p>

    <p>UID: ATU72719436</p>

    <p>E-Mail:
      <a href="mailto:office@fbdox.at">office@fbdox.at</a>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" role="button" ng-click="$ctrl.modal.dismiss()">{{'OK' | translate}}</button>
  </div>
</div>
