<div class="site-data-modal">
  <div class="modal-header">
    <h3 class="modal-title">{{'PRIVACY_TITLE' | translate}}</h3>
  </div>
  <div class="modal-body">
    <p>1. Für uns steht die Sicherheit und streng vertrauliche Behandlung der Daten unserer Kunden an erster Stelle.</p>
    <p>2. Wir k&ouml;nnen in die von unseren Kunden eingegebenen Daten sowie die daraus erstellten Dokumente keine Einsicht nehmen, und wir speichern diese auch nicht dauerhaft ab. Die eingegebenen Daten werden zwar zwecks Weiterbearbeitung durch den Kunden gespeichert, jedoch automatisch ein Monat nach erstmaliger Erstellung (oder auf Wunsch auch fr&uuml;her) gel&ouml;scht.</p>
    <p>3. Zum Zweck der Vertragserf&uuml;llung und der Erstellung von Rechnungen verarbeiten und speichern wir bestimmte Daten unserer Kunden (und zwar Firma, Vorname, Nachname, Adresse, PLZ, Stadt, E-Mail-Adresse und Passwort).</p>
    <p>4. Daten unserer Kunden werden von uns ausnahmslos nicht an Dritte weitergegeben.</p>
    <p>5. Wir versenden an unsere Kunden gelegentlich administrative Benachrichtigungen per E-Mail, wobei eine Abmeldung von diesen E-Mails nur bei Beendigung des Vertragsverhältnisses seitens des Kunden möglich ist.</p>
    <p>6. Zur optimalen Benutzung unserer Website empfehlen wir, Cookies zu aktivieren. Wir verwenden ein Cookie zur Wiedererkennung des Kunden bei einem erneuten Besuch der Website; dies vermeidet, dass sich ein Kunde nach erfolgter Anmeldung erneut auf der Website anmelden muss. Wir setzen auch Cookies von Drittanbietern ein, und zwar von drift.com f&uuml;r die Chatfunktion auf der Website, von analytics.google.com f&uuml;r statistische Auswertungen und von stripe.com f&uuml;r Zahlungszwecke.</p>

  </div>
  <div class="modal-footer">
    <button class="btn btn-default" role="button" ng-click="$ctrl.modal.dismiss()">{{'OK' | translate}}</button>
  </div>
</div>
