<div class="site-data-modal">
  <div class="modal-header">
    <h3 class="modal-title">{{'TERMS_TITLE' | translate}}</h3>
  </div>
  <div class="modal-body long-modal">
    <p>1. Definitionen</p>

    <p>1.1 &quot;Website&quot; meint die Website <a href="https://www.fbdox.at">https://www.fbdox.at</a>, auf welcher man f&uuml;r bestimmte Rechtstr&auml;ger
      Dokumente betreffend beim &ouml;sterreichischen Firmenbuch einzureichende Antr&auml;ge in automationsunterst&uuml;tzter
      Weise erstellen lassen kann.</p>

    <p>1.2 &quot;FBDOX.at GmbH&quot; meint FBDOX.at GmbH, eine Gesellschaft mit dem Sitz in Wien und der Gesch&auml;ftsanschrift
      Bergheidengasse 26 Haus 3/1, eingetragen im Firmenbuch unter der FN 478326 x, die Betreiberin der Website.</p>

    <p>1.3 &quot;Kunde&quot; meint den Nutzer der Website und Vertragspartner von FBDOX.at GmbH.</p>

    <p>1.4 &quot;Parteien&quot; meint FBDOX.at GmbH und den Kunden gemeinsam.</p>

    <p>1.5 &quot;Vertrag&quot; meint den Vertrag zwischen den Parteien &uuml;ber die Nutzung der Website.</p>

    <p>1.6 &quot;AGB&quot; meint diese allgemeinen Gesch&auml;ftsbedingungen, welche auf den Vertrag Anwendung finden.</p>

    <p>2. Abschluss, Dauer und K&uuml;ndigung des Vertrags</p>

    <p>2.1 Der Vertrag kommt mit der Registrierung des Kunden auf der Website zustande.</p>

    <p>2.2 Der Vertrag wird auf die Dauer eines Monats geschlossen und verl&auml;ngert sich nach Ablauf jeweils automatisch
      um einen weiteren Monat.</p>

    <p>2.3 Der Vertrag kann jederzeit durch den Kunden gek&uuml;ndigt werden (im Kundenprofil unter &quot;Zahlungen verwalten&quot;),
      wobei die K&uuml;ndigung zum Ende des aktuellen Monatszeitraums wirksam wird.</p>

    <p>3. Entgelt</p>

    <p>3.1 Das von dem Kunden zu zahlende Entgelt f&uuml;r die Nutzung der Website besteht aus einer Grundgeb&uuml;hr und einer
      Produktgeb&uuml;hr.</p>

    <p>3.2 Die Grundgeb&uuml;hr betr&auml;gt EUR 50 (exklusive gesetzlicher Umsatzsteuer) pro Monatszeitraum und wird zu Beginn
      des jeweils aktuellen Monatszeitraums f&auml;llig.</p>

    <p>3.3 Die Produktgeb&uuml;hr betr&auml;gt EUR 10 (exklusive gesetzlicher Umsatzsteuer) pro erstelltem Produkt (dh pro Firmenbuchantrag,
      unabh&auml;ngig davon, wie viele Dokumente dazugeh&ouml;ren) und mit der n&auml;chsten Grundgeb&uuml;hr f&auml;llig.</p>

    <p>3.4 Die Grundgeb&uuml;hr und die Produktgeb&uuml;hr werden im Zeitpunkt der jeweiligen F&auml;lligkeit durch Belastung der durch den Kunden bei Registrierung angegebenen Kreditkarte beglichen.</p>

    <p>3.5 Im Zeitpunkt der jeweiligen F&auml;lligkeit der Grundgeb&uuml;hr und der Produktgeb&uuml;hr stellt FBDOX.at GmbH
      eine Rechnung aus, welche vom Kunden auf der Website heruntergeladen werden kann (im Kundenprofil unter &quot;Rechnungen
      herunterladen&quot;). Die elektronische &Uuml;bermittlung der Rechnung gilt hiermit als vereinbart.</p>

    <p>4. Verpflichtungen der FBDOX.at GmbH</p>

    <p>4.1 FBDOX.at GmbH verpflichtet sich, die Website durchgehend von Montag bis Sonntag, 00:00 bis 24:00, zur Verf&uuml;gung
      zu stellen; ausgenommen davon sind zeitweilige Abschaltungen zwecks Wartung oder Update, welche tunlichst am Sonntag
      zwischen 20:00 und 24:00 vorgenommen werden sollen.</p>

    <p>4.2 FBDOX.at GmbH verpflichtet sich, alle zumutbaren Ma&szlig;nahmen betreffend die Website zu treffen, um Sicherheitsl&uuml;cken
      oder die Verbreitung von Malware oder Viren zu verhindern.</p>

    <p>5. Verpflichtungen des Kunden</p>

    <p>5.1 Der Kunde verpflichtet sich, bei der Registrierung korrekte Angaben zur Identifikation zu machen.</p>

    <p>5.2 Der Kunde verpflichtet sich, Vorsorge gegen einen unbefugten Gebrauch seines Accounts zu treffen und insbesondere
      seine Zugangsdaten keinem Unbefugten zu &uuml;berlassen.</p>

    <p>5.3 Der Kunde verpflichtet sich, das f&uuml;r die Nutzung der Website vereinbarte Entgelt zu bezahlen.</p>

    <p>6. Haftung</p>

    <p>6.1 FBDOX.at GmbH haftet nicht f&uuml;r die Richtigkeit und Vollst&auml;ndigkeit der mittels der Website erstellten Dokumente.
      Auch wenn die Website unter dem Gesichtspunkt h&ouml;chstm&ouml;glicher Sorgfalt betrieben wird, so obliegt es dem
      Kunden, die in automationsunterst&uuml;tzter Weise erstellten Dokumente in juristischer Hinsicht zu pr&uuml;fen, allf&auml;llige
      Anpassungen vorzunehmen und erst dann zu verwenden.</p>

    <p>6.2 FBDOX.at GmbH haftet nicht f&uuml;r entgangenen Gewinn sowie f&uuml;r Verm&ouml;gens- und Folgesch&auml;den, die
      aus der Verwendung von mittels der Website erstellten Dokumenten entstehen.</p>

    <p>6.3 Eine allf&auml;llige Haftung von FBDOX.at GmbH ist jedenfalls auf Vorsatz und grobe Fahrl&auml;ssigkeit beschr&auml;nkt;
      die Beweislastumkehr gem&auml;&szlig; &sect; 1298 Abs 2 ABGB wird ausgeschlossen.</p>

    <p>7. &Auml;nderungen der AGB</p>

    <p>7.1 &Auml;nderungen der AGB werden dem Kunden vor deren Wirksamwerden per E-Mail mitgeteilt.</p>

    <p>7.2 Widerspricht der Kunde nicht binnen 14 Tagen, gelten diese als vereinbart.</p>

    <p>8. Anwendbares Recht und Gerichtsstand</p>

    <p>8.1 F&uuml;r den Vertrag zwischen den Parteien &uuml;ber die Nutzung der Website gilt &ouml;sterreichisches Recht unter
      Ausschluss von nationalen und supranationalen Verweisungsnormen und unter Ausschluss des UN-Kaufrechts.</p>

    <p>8.2 Alle Streitigkeiten aus und im Zusammenhang mit dem Vertrag zwischen den Parteien &uuml;ber die Nutzung der Website
      werden ausschlie&szlig;lich vor dem jeweils sachlich zust&auml;ndigen Gericht f&uuml;r Wien, Innere Stadt, ausgetragen.
      </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" role="button" ng-click="$ctrl.modal.close()">{{'OK' | translate}}</button>
  </div>

</div>